* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

# Keep deployment-specific configurations
Dockerfile merge=ours
.dockerignore merge=ours

# Keep our version of modified files during merges
app/Http/Controllers/Admin/HistoryController.php merge=ours
